/Item.class
/Rebreather.class
/WaterTank.class
/CookTop.class
/ItemList.class
/PickAxe.class
/MiningBot.class
/MultiItem.class
/SolarPanel.class
/SmallSolarPanel.class
/MediumSolarPanel2.class
/MediumSolarPanel.class
/LargeSolarPanel.class
