/ButAction.class
/ButtonClick.class
/AddResource.class
/Action.class
/ActionAddAir.class
/ActionAddWater.class
/ActionAddFood.class
/ActionTinker.class
/Tinker.class
/ActionWait.class
/ActionSynthesize.class
/ActionBuild.class
